main{
     
     padding: 70px 30% 10px;
     display: flex;
     flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    gap: 20px;
    width: 100%;
}

main > form > input{
    width: 500px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 16px;
    

}
 form > button{
    width: 200px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;

}
 form >button::before{
    content:'+  ';
}
form > button:hover{
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

ul{
    list-style: enum;
    font-weight: 500;
    margin-top: 10px;
    
}
ul li{
    line-height: 28px;
    
    font-weight: 550;
}
h2{
    margin-top: 20px;
}
.get-recipe-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 28px;
    background-color: #F0EFEB;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.get-recipe-container > h3{
    line-height: 24px;
    font-weight: 600;
    font-size: 1.125rem;
}
.get-recipe-container > p{
    line-height: 20px;
    font-size: 0.875px;
    color: #6B7280;
     
}
.get-recipe-container > button{
    padding: 9px 17px;
    background-color: #D17557;
    color: #ffffff;
    border: none;
    border-radius: 8px;
     cursor: pointer;

}

 .get-recepe-button:hover{
    background-color: white;
     color: black;
    border: 2px solid #000000;
   
}